{% load static %}
<nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="" class="glyphicon glyphicon-menu-hamburger"></a><a href="{% url 'index' %}" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Data Mining</strong></div></a></div>
            </div>
          </div>
        </nav>