<!DOCTYPE html>
{% load static %}
<html xmlns:height="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Data Mining </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'bar/head.html' %}
    <script  src="{% static 'static/filepath.js' %}"></script>
  </head>
  <body>
    <!-- Side Navbar -->
    {% if id %}
    {% for use in user %}

    <div class="page">
        {% endfor %}
    {% endif %}
      <!-- navbar-->
      <header class="header">
       {% include 'bar/upper_navbar.html' %}
      </header>
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
          <!--  <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
            <li class="breadcrumb-item active">Operation</li>
          </ul>
        </div>
      </div>
      <section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header>
            <h1 class="h3 display">Operations</h1>
          </header>
          <div class="wrapper">

    <div id="content">
        <div class="select2-container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <h1 class="editContent" style="outline: none; cursor: inherit; color: blueviolet">Preprocessing </h1>
                            <div class="container ">
                        <li>
                             <a type="submit" class="nav-link" href="{% url 'operation' %}">Preprocess
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            {% if prepro %}
                            <td> {{ prepro }}</td>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <form  method="post" id="singninFrom" action="{% url 'cate' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <h1 class="editContent" style="outline: none; cursor: inherit; color: blueviolet"> Categorization </h1><br>
                        </li>
                        <li>
                            <textarea type="text" name="name" id="name" placeholder="Enter your article here "required ></textarea>
                        </li>
                        <li>
                            <br>
                            <input type="submit" name="article" id="article" class="form-submit" value="Submit"/>
                        </li>
                        <li>
                            <br>
                            <h1 class="editContent" style="outline: none; cursor: inherit; color: blueviolet"> Output </h1><br>
                        </li>
                        <li>
                            {% if cat %}
                            <td>Predicted Category : {{ cat }}</td>
                            {% endif %}
                        </li>

                    </ul>
                    </form>
            </div>
        </div>
    </div>
</div>
      </section>

    </div>

  </body>
</html>